.grid-container-dashboard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:10px;
}

.card-dashboard {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.header-text{
  font-size: large;
  font-weight: 500;
}

.chart-section{
  margin-top: 20px;
}
.chart-display{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:10px;
}

@media screen and (max-width:768px) {
  .grid-container-dashboard{
      grid-template-columns: 1fr 1fr;
  }
  .chart-display{
      grid-template-columns: 1fr;
  }
  
}

@media screen and (max-width:400px) {
  .grid-container-dashboard{
      grid-template-columns: 1fr;
  }
  
}