  
.main{
  height: 100vh;
  display:grid;
  grid-template-columns: var(--sidebar-width) calc(100% - var(--sidebar-width));
}

.top-bar{
  padding:1rem;
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--navbar-background);
}
.top-bar h3{
  font-size: large;
  color: var(--primary-color)
}

.main-content{
  padding:1rem;
}

.muted{
  color:#a99e9e;
  font-size: x-small;
  padding-left:1rem;
  text-decoration: dashed;
  font-style: italic;
}

@media screen and (max-width:768px){
  /* .main{
    grid-template-columns: var(--sidebar-width) calc(100% - var(--sidebar-width));
  } */
  .top-bar p{
    text-align: center;
  }
}